.categories-container {
    // padding-top: 7.5px;
    // padding-right: 7.5px;
    // padding-left: 7.5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

